{% block mollie_channel_setting_type_widget %}
    {# First include and render all tabsl content in a template variable to avoid mixing Mollie content with Oro form #}
    {% set authTokenIsValid = form.authToken.vars.value is not empty and form.authToken.vars.errors is empty %}
    {% set showOnlyAuthorization = not authTokenIsValid or form.formRefreshRequired.vars.value is not empty %}
    {% set authorizationContent = include('@MolliePayment/Form/authorization.html.twig') %}

    {% if (not showOnlyAuthorization) %}
        {% set websiteProfileContent = include('@MolliePayment/Form/website-profile.html.twig') %}
        {% set paymentMethodsContent = include('@MolliePayment/Form/payment-methods.html.twig') %}
        {% set notificationsContent = include('@MolliePayment/Form/notifications.html.twig') %}
    {% endif %}

    {% if (form.parent.transport is defined) %}
        {{ form_widget(form.parent.transport, {'attr': {'class': 'control-group-container'}}) }}
    {% endif %}

    {% if (form.parent.synchronizationSettings is defined) %}
        {{ form_widget(form.parent.synchronizationSettings) }}
    {% endif %}

    {% if (form.parent.mappingSettings is defined) %}
        {{ form_widget(form.parent.mappingSettings) }}
    {% endif %}

    <div class="mollie-navbar navbar navbar-static scrollspy-nav">
        {% set options = {
            view: 'molliepayment/js/app/views/mollie-tabs-view',
            contentContainerSelector: '#mollie-tabs-container'
        } %}
        <nav
                class="nav icons-holder"
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ options|json_encode }}">
            <span class="mollie-logo-big">{{ include('@MolliePayment/Icon/mollie-logo-big.svg') }}</span>
            <a class="nav-link" href="#mollie_authorization">{{ 'mollie.payment.config.authorization.label'|trans }}</a>
            {% if (not showOnlyAuthorization) %}
                <a class="nav-link" href="#mollie_website_prifile">{{ 'mollie.payment.config.website_profile.label'|trans }}</a>
                <a class="nav-link" href="#mollie_payment_methods">{{ 'mollie.payment.config.payment_methods.label'|trans }}</a>
                <a class="nav-link" href="#mollie_notifications">{{ 'mollie.payment.config.notifications.label'|trans }}</a>
            {% endif %}
            <span class="right-separator"></span>
            <a class="mollie-support-link icons-holder-text pull-right" href="https://help.mollie.com/hc/en-us" target="_blank"><span class="fa-life-ring" aria-hidden="true"></span>{{ 'mollie.payment.config.support.label'|trans }}</a>
        </nav>
    </div>

    <div class="inline-actions-element_actions"></div>
    <div id="mollie-tabs-container" class="section-content">
        <div data-target="#mollie_authorization" class="hide">
            {{ authorizationContent|raw }}
        </div>
        {% if (not showOnlyAuthorization) %}
            <div data-target="#mollie_website_prifile" class="hide">
                {{ websiteProfileContent|raw }}
            </div>
            <div data-target="#mollie_payment_methods" class="hide">
                {{ paymentMethodsContent|raw }}
            </div>
            <div data-target="#mollie_notifications" class="hide">
                {{ notificationsContent|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}